* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  resize: both;
  overflow: auto;
  display: grid;
  gap: 4px;
  padding: 4px;
  border: 1px transparent;
  grid-row: 8% 3% auto 5%;
  grid-column: 20% auto;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-row: 1/2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto 60%;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;

}

.menu ul,
.menu li {
  font-size: 16px;


}

.sidebar {
  background-color: #C50208;
  grid-row: 2/4;
  grid-column: 1/2;
  display: grid;
  border: 1px transparent;

  row-gap: 40px;

}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  
}

.nav {
  background-color: #C50208;
  grid-row: 2/3;
  grid-column: 2/3;
  
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.nav ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  
}

.article {
  background-color: #bccbde;
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  resize: both;
  overflow: auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 4px;
  border: 1px transparent;
  background-color: lightgray

}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row: 4/5;
  grid-column: 1/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}